.menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 80, 6);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    height: 90px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    color: bisque;
    width: auto;

}

.menu {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.header-menu {}